<div odds-tab-bar page="odds"></div>
<div class="panel panel-default no-border">
    <div class="panel-body">
        <div class="row">
            <div class="card-count-bar">
                <div class="btn-toolbar" role="toolbar">
                    <!-- TODO - Covert to radio buttons -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" data-ng-click="numberOfDraws=7">Opening Hand</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" data-ng-click="numberOfDraws=1" selected="true">1</button>
                        <button type="button" class="btn btn-default" data-ng-click="numberOfDraws=2">2</button>
                        <button type="button" class="btn btn-default" data-ng-click="numberOfDraws=3">3</button>
                        <button type="button" class="btn btn-default" data-ng-click="numberOfDraws=4">4</button>
                        <button type="button" class="btn btn-default" data-ng-click="numberOfDraws=5">5</button>
                        <button type="button" class="btn btn-default" data-ng-click="numberOfDraws=6">6</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <ul class="list-group" data-ng-show="usedItemsList.totalItems >= 1">
                        <li class="list-group-item" data-ng-repeat="item in usedItemsList.itemList" data-ng-model="usedItemsList" data-ng-show="item.count >= 1">
                            {{item.name}}
                            <span class="badge">{{item.count}}</span>
                        </li>
                    </ul>
                    <div class="panel panel-default" data-ng-hide="usedItemsList.totalItems >= 1">
                        <div class="panel-body">
                            <div class="well">Add cards to used pile to see odds.</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <ul class="list-group">
                        <li class="list-group-item vert-center" data-ng-repeat="item in toDrawList.odds | orderBy:'-probability'" data-ng-model="toDrawList.odds" data-ng-hide="item.count <= 0">
                            <button type="button" class="btn btn-default" data-ng-click="useCard(item.name)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            {{item.name}}
                            <span class="badge">{{item.count}}</span>
                            <span class="badge">{{item.probability}}%</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>